<div class="panel panel-default">
  <div class="panel-body">
    <form>
      <div class="form-group">
        <textarea class="form-control" placeholder="What's happening?" rows="1"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-icon pull-right">
        <span class="glyphicon glyphicon-share-alt"></span> Feed
      </button>
    </form>
  </div>
</div> <!--add feed-->
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-left">
      <img src="imgs/default-user.png" alt="Shaddy's photo" class="img-rounded">
    </div>
    <div class="pull-left">
      <h1> Shaddy Mansour <br> <small> November 05, 1955 </small> </h1>
    </div>
  </div>
  <div class="panel-body">
    <p> Some feed! </p>
  </div>
</div> <!--feeds-->
