<div class="panel panel-default" fixed-share-box>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <textarea textarea-share in="inTextarea" maxlength="140" ng-model="user.request" class="form-control" placeholder="What's happening?" rows="1"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-icon pull-right"
        ng-disabled="!user.request.length" ng-if="inTextarea">
        <span class="glyphicon glyphicon-pencil"></span> Request
      </button>
      <span class="pull-right text-muted count" ng-if="inTextarea"> {{ 140 - user.request.length }} </span>
    </form>
  </div>
</div> <!--add feed-->
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-left">
      <img src="imgs/default-user.png" alt="Shaddy's photo" class="img-rounded">
    </div>
    <div class="pull-left">
      <h1> Shaddy Mansour <br> <small> November 05, 1955 </small> </h1>
    </div>
  </div>
  <div class="panel-body">
    <p> Some feed! </p>
  </div>
</div> <!--feeds-->
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-left">
      <img src="imgs/default-user.png" alt="Shaddy's photo" class="img-rounded">
    </div>
    <div class="pull-left">
      <h1> Shaddy Mansour <br> <small> November 05, 1955 </small> </h1>
    </div>
  </div>
  <div class="panel-body">
    <p> Some feed! </p>
  </div>
</div> <!--feeds-->
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-left">
      <img src="imgs/default-user.png" alt="Shaddy's photo" class="img-rounded">
    </div>
    <div class="pull-left">
      <h1> Shaddy Mansour <br> <small> November 05, 1955 </small> </h1>
    </div>
  </div>
  <div class="panel-body">
    <p> Some feed! </p>
  </div>
</div> <!--feeds-->
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-left">
      <img src="imgs/default-user.png" alt="Shaddy's photo" class="img-rounded">
    </div>
    <div class="pull-left">
      <h1> Shaddy Mansour <br> <small> November 05, 1955 </small> </h1>
    </div>
  </div>
  <div class="panel-body">
    <p> Some feed! </p>
  </div>
</div> <!--feeds-->
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-left">
      <img src="imgs/default-user.png" alt="Shaddy's photo" class="img-rounded">
    </div>
    <div class="pull-left">
      <h1> Shaddy Mansour <br> <small> November 05, 1955 </small> </h1>
    </div>
  </div>
  <div class="panel-body">
    <p> Some feed! </p>
  </div>
</div> <!--feeds-->
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-left">
      <img src="imgs/default-user.png" alt="Shaddy's photo" class="img-rounded">
    </div>
    <div class="pull-left">
      <h1> Shaddy Mansour <br> <small> November 05, 1955 </small> </h1>
    </div>
  </div>
  <div class="panel-body">
    <p> Some feed! </p>
  </div>
</div> <!--feeds-->
