.panel{
  transition: all 1s;

  &:hover:not(:first-child) {
    cursor: pointer;
    box-shadow: 3px 3px 5px #888888;
  }

}

.panel-default{

  .panel-heading {
    height: 70px;
    background-color: #fff;

    .img-rounded {
      width: 50px;
      margin-right: 20px;
    }

    h1 {
      font-size: 1.2em;
      margin: 0;
    }

  }
}
