<form ng-submit="login(user)" name="loginForm" novalidate="">
  <legend> Login </legend>
  <div class="form-group" ng-class="{ 'has-error': loginForm.email.$touched && loginForm.email.$invalid,
                                      'has-success': loginForm.email.$touched && loginForm.email.$valid }">
    <label for="email" class="control-label">Email address</label>
    <input type="email" class="form-control input-lg" id="email" placeholder="Email address"
      name="email" ng-model="user.email" ng-required="true">
  </div>
  <div class="form-group" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid,
                                      'has-success': loginForm.password.$touched && loginForm.password.$valid }">
    <label for="password" class="control-label">Password</label>
    <input type="password" class="form-control input-lg" id="password" placeholder="Password"
      name="password" ng-minlength="6" ng-maxlength="20" maxlength="20" ng-model="user.password" ng-required="true">
  </div>
  <button ng-disabled="loginForm.$invalid" type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
</form>
<hr>
<div class="text-center">
  <a href="#/register"> Register </a>
</div>
